.deps
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
configure.ac
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
.libs
modules
*.la
*.lo
*~
tmp-php.ini

*.sublime-*
*.swp
*.loT
*.dep
php_test_results_*.txt

# Coverage files
*.gcda
*.gcno
*.gcov
coverage.info
coverage_filtered.info
coverage_html/
build_coverage.sh

# Test output files
spx_trace.txt.gz
tests/*.out
tests/*.exp
tests/*.diff
tests/*.sh
tests/*.log
tests/*.php
